.gradle
local.properties
signature/systemui_provision_verified.json
/product/default/volumepanel/node_modules
/product/default/notificationmanagement/node_modules
/product/default/navigationBar/node_modules
/product/pc/controlpanel/node_modules
/product/pc/notificationpanel/node_modules
/product/pc/statusbar/node_modules
/product/phone/dropdownpanel/node_modules
/product/phone/statusbar/node_modules
/product/default/volumepanel/.preview/
/product/pc/notificationpanel/.preview/
/product/phone/statusbar/.preview/
/product/default/notificationmanagement/.preview/
/.hvigor
/.hvigor/*
/.hvigor/outputs/logs/details/details.json
*.iml
build/
/.idea
/.gradle
*.DS_Store
tsconfig.json
**/node_modules
package-lock.json
.idea/*
local.properties
.preview/*
build/*
oh_modules/*
**/oh_modules/*
signature/hap-sign-tool.jar
signature/hapsign-online-plugin.jar
Shell/hdc_std.exe
/entry/tv/.preview/
/features/volumepanelcomponent/.preview/
/features/navigationservice/.preview/
/product/default/dialog/.preview/
/product/tv/controlpanel/.preview/
/product/tv/navigationBar/.preview/
/product/tv/volumepanel/.preview/
/common/.preview
.clang-format
.hvigor/outputs/sync/output.json
/common/BuildProfile.ets
debug.log
**/*-lock.json*
**/.preview/
**/.idea/
/features/volumepanelcomponent/BuildProfile.ets
**/.test/
signature