public;8;https://mirrors.huaweicloud.com/openharmony/os/3.1.6/ohos-sdk-public.tar.gz
public;9;http://download.ci.openharmony.cn/version/Master_Version/OpenHarmony_3.2.12.2/20230510_103810/version-Master_Version-OpenHarmony_3.2.12.2-20230510_103810-ohos-sdk-public.tar.gz
public;10;http://download.ci.openharmony.cn/version/Release_Version/OpenHarmony_4.0.10.7_sp8/20230919_112913/version-Release_Version-OpenHarmony_4.0.10.7_sp8-20230919_112913-ohos-sdk-public_4.0-release.tar.gz
full;8;https://mirrors.huaweicloud.com/openharmony/os/3.1.6/ohos-sdk-full.tar.gz
full;9;http://download.ci.openharmony.cn/version/Master_Version/OpenHarmony_3.2.12.2/20230510_103752/version-Master_Version-OpenHarmony_3.2.12.2-20230510_103752-ohos-sdk-full.tar.gz
full;10;http://download.ci.openharmony.cn/version/Release_Version/OpenHarmony_4.0.10.7_sp8/20230919_112909/version-Release_Version-OpenHarmony_4.0.10.7_sp8-20230919_112909-ohos-sdk-full_4.0-release.tar.gz
