#wrapper {
    flex-direction: column;
}

#div1 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: white;
}

#text1 {
    height: 45vp;
    width: 150vp;
    font-size: 16vp;
    text-align: center;
}

#text2 {
    height: 20vp;
    width: 150vp;
    font-size: 10vp;
    text-align: center;
}

